.matrixblock {
  .matrix-extended-drag-drop & {
    margin: 0 !important;
  }

  .draggee {
    opacity: 0.5;
  }

  .move {
    --icon-size: 0.75rem;

    cursor: move;
  }
}

.matrix-extended-buttons {
  flex-wrap: wrap;

  &.one-line {
    flex-wrap: nowrap;
  }
}

.matrix-extended-btngroup {
  flex-wrap: wrap;
}

.matrix-extended-drop-target {
  padding: 6px;
  border-radius: 3px;
  margin: 0 -15px;
  overflow: hidden;

  > div {
    border-radius: 3px;
    height: 4px;
  }

  &.active {
    > div {
      background: var(--ui-control-bg-color);
    }
  }
}
