{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "off",
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowDestructuring": false, // Allow `const { props, state } = this`; false by default
        "allowedNames": ["self", "parent"] // Allow `const self = this`; `[]` by default
      }
    ]
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
